.container {
    display: flex;
    background-color: peachpuff;
    justify-content: space-between;
    padding: 5px;
    border: 2px solid #000;

}
.container-item {
    border: 2px solid #000;

    min-width:100%;
}

div ul {
    color: blue;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ul li {
    display: inline;
}
.logo {
    border: 2px solid #000;

    color: rgb(255, 145, 106);
    font-size: 24px;
    justify-content: center;
    align-items: center;
}
.left {
    text-align: center;
    padding-top: 55px;
}
div ul .right {
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
}
